{block content}
	<h1 n:block="title" class="fw-normal fs-4 mb-3">
		{_'Drago project'}
	</h1>
	<div class="alert alert-success p-2">
		Projekt úspěšně připraven! Všechno funguje jak má.
	</div>
{/block}
